@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens 
@media screen and (min-widht: 1024px)*/

/*General HTML elements*/
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Archivo Black", sans-serif;
  color: var(--ion-color-primary);
}

h1 {
  font-size: 1.7rem;
  margin-block-end: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
/*End General HTML elements*/

/*General ionic elements*/
ion-spinner {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  color: var(--ion-color-primary);
}

ion-icon {
  font-size: 1.5rem;
  color: var(--ion-color-secondary);
}

ion-content {
  --background: var(--ion-color-secondary);
}

ion-thumbnail {
  --border-radius: 5px;
  --size: 8rem;
}

ion-input.custom {
  --border-radius: 10px;
  --background: var(--ion-color-secondary-shade);
  max-width: 200px;
  margin-block-end: 0.5rem;
  min-height: 35px !important;
}

.alert-wrapper{
  background-color: var(--ion-color-secondary-shade) !important;
}

.alert-radio-label{
  color: var(--ion-color-primary-contrast) !important;
}
/*End General ionic elements*/

/*General Custom classes*/
.label-fixed.sc-ion-label-md-h {
  flex: 0 0 50vw;
}

.noBorder {
  border: none;
}

.inspectionIcons {
  color: var(--ion-color-primary);
}

.primaryContrast {
  color: var(--ion-color-primary-contrast);
}
/*End General Custom classes*/

/*Ion Card*/
ion-card {
  --background: var(--ion-color-secondary-tint);
  border: 1px solid var(--ion-color-primary);
  margin-inline-start: 0;
  margin-block-end: 1.2rem;
}

ion-card-title {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.7rem;
  --color: var(--ion-color-primary);
}

ion-card-subtitle {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5rem;
  --color: var(--ion-color-secondary-contrast);
}

ion-card-content {
  color: var(--ion-color-primary-contrast);
  font-size: 1rem;
}
/*End Ion Card*/

/*Page Content*/
.pageContent {
  max-width: 600px;
  margin: 1rem auto;
}

/*List*/
.ion-list {
  background-color: var(--ion-color-secondary-tint);
  padding-block-end: 3.5rem;
}

ion-list-header {
  font-size: x-large;
  padding-inline-start: 0;
  text-align: center;
  border-bottom: 2px solid var(--ion-color-primary);
}

ion-item {
  --background: var(--ion-color-secondary-tint);
  --padding-start: 0;
}
/*End list*/

/*Base Layout*/
ion-header,
ion-footer {
  --ion-background-color: var(--ion-color-primary);
}

.logo {
  height: 95px;
}

ion-back-button {
  color: var(--ion-color-secondary);
  --border-radius: 10%;
}

#logoutButton{
  --box-shadow: none;
}

#footerButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*End Base Layout*/

/*Home*/
#homeGrid {
  max-width: 700px;
  margin: 1rem auto;
}
.homeCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  padding: 10px;
  text-align: center;
  margin: 0 0 10px 10px;
}

.homeCard:hover {
  background-color: var(--ion-color-secondary-shade);
}

.homeCardTitle {
  color: var(--ion-color-primary-contrast);
  font-size: 1.3rem;
}

.homeCardIcon {
  font-size: 10rem;
  color: var(--ion-color-primary);
}
/*End Home*/

/*Documents*/
#documentCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#documentCardHeader,
#documentCardContent {
  background: var(--ion-color-secondary-tint);
}

#documentTitle {
  font-size: 1.3rem;
}
/*End Documents*/

.extraMarginTop{
  margin-block-start: 20vh;
  }

  .labelIconCombi{
    display: flex;
    flex: 1 1 0;
  }

  .labelIconCombiItem{
    flex: 1;
  }
